@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

@font-face {
  font-family: gil;
  src: url(/Gilroy-Medium.ttf);
}

body {
  font-family: 'Inter', sans-serif;
}

/* h1 {
  font-family: gil;
} */

.ht {
  font-family: gil;

}